@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@-webkit-keyframes openRight {
  0% {
    width: 45px;
  }
  100% {
    width: 80px;
  }
}
@keyframes openRight {
  0% {
    width: 45px;
  }
  100% {
    width: 80px;
  }
}

@-webkit-keyframes whiteBlAnim {
  0% {
    margin-left: 5px;
  }
  50% {
    border-radius: 0px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background: lightblue;
  }
  100% {
    margin-left: 20px;
  }
}

@keyframes whiteBlAnim {
  0% {
    margin-left: 5px;
  }
  50% {
    border-radius: 0px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background: lightblue;
  }
  100% {
    margin-left: 20px;
  }
}

.Footer {
  height: 100px;
  width: 100%;
  background: #82c4df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer button {
  cursor: pointer;
  width: 150px;
  height: 65px;
  background: rgba(71, 119, 128, 0.828);
  border-radius: 15px;
  border: 0px;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 15px;
}

.Footer button:hover {
  background: rgba(71, 119, 128, 0.95);
}

.Footer button:active {
  opacity: .86;
}

.Footer .Footer__input {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer .Footer__input input {
  min-width: 50px;
  padding-left: 5px;
  height: 30px;
  border-radius: 15px;
  border: 0px;
}

.Footer .Footer__input input:focus {
  border: 0px;
  outline: none;
}

.Footer .Footer__input button {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.Footer .Footer__input img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.Footer .Footer__input #errs {
  background: #ffe0e0;
  color: #ba3939;
  -webkit-animation: error 2s ease;
          animation: error 2s ease;
  margin-left: 8px;
}

.Footer .myIcon {
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all;
  transition: all;
  -webkit-animation: openRight backwards 1s ease 1;
          animation: openRight backwards 1s ease 1;
  background: rgba(71, 119, 128, 0.828);
  border-radius: 30px;
  width: 80px;
}

.Footer .myIcon .whiteBl {
  background: #fff;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 5px;
  -webkit-animation: whiteBlAnim 1.5s linear alternate infinite;
          animation: whiteBlAnim 1.5s linear alternate infinite;
}
/*# sourceMappingURL=FooterStyle.css.map */