@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Footer {
    height: 100px;
    width: 100%;
    background: rgb(130, 196, 223);
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
button {
    width: 150px;
    height: 65px;
    background: rgba(71, 119, 128, 0.828);
    border-radius: 15px;
    border: 0px;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    &:hover {
        background: rgba(71, 119, 128, 0.95);
    }
    &:active {
        opacity: .86;
    }
}
    .Footer__input {
        width: 500px;
        height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        input {
            width: 350px;
            height: 30px;
            border-radius: 15px;
            border: 0px;
            &:focus {
                border: 0px;
                outline: none;
            }
        }
        button {
            width: 100px;
            height: 30px;
        }
        img {
            
                
                width: 45px;
                height: 45px;
                border-radius: 50%;
            
        }
    }
}