

body {
    margin: 5px 5px;
   
    min-width: 700px;
min-height: 100%;}

.Body {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 160px);
    
    
    display: flex;
    height: 100%;
}