

body {
    margin: 5px 5px;
   
    min-width: 1280px;
height: 100%;}

.Body {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 100px);
    
    
    display: flex;
    min-height: 100%;
}